{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CallBook - Главная</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  </head>
  <body>
    <h1 class="navbar-text">Добро пожаловать на QRGen!</h1>
    <a class="button mainpage-button" href="qr">Попробовать</a>
  </body>
</html>
