{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR-Кодер - Раскодировать</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <style>
      body {
        background-image: url("{% static 'imgs/bg.png' %}");
      }
    </style>
  </head>
  <body>
    <h1 class="page-title">QR-Кодер</h1>
    <img class="qrcode-image" src="{% static 'imgs/image.png' %}">
    <form method="post">
      <input class="flag-input" type="text" name="flag">
      <div class="button-under"></div>
      <button class="button qr-button">Проверить</button>
    </form>
  </body>
</html>
